
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p> This page is all about web application !! </p>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Mounika">Mounika</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Aarthi">Aarthi</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sandeep">Sandeep</a>






